#products {
  padding: 1.5rem 0 0 0;
  background-color: $lightBlue;

  .product_container {
    width: 100%;
    padding: 1.5rem 0;

    .product_btn_container {
      margin: auto;
      .product_btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .product_btn {
          background-color: transparent;

          @media (min-width: 481px) and (max-width: 768px) {
            width: 60px;
            font-size: 12px;
          }
          @media (min-width: 769px) {
            width: 70px;
            height: 27px;
            font-size: 13px;
          }

          &:hover {
            background-color: $darkBlue;
            color: #fff;
          }
        }
      }
    }

    .product_item_container {
      gap: 1.5rem;
      margin: 3rem auto;
      display: grid;

      @media (min-width: 769px) and (max-width: 1024px) {
        grid-template-columns: repeat(2, 2fr);
      }

      @media (min-width: 1025px) {
        grid-template-columns: repeat(3, 2fr);
      }
      @media (min-width: 1201px) {
        gap: 2rem;
      }

      .product_box {
        width: 280px;
        height: auto;
        background-color: $white;
        border-top-left-radius: 0.9rem;
        border-top-right-radius: 0.9rem;
        border-bottom-left-radius: 0.9rem;
        border-bottom-right-radius: 0.9rem;
        overflow: hidden;
        margin: auto;

        @media (max-width: 480px) {
          max-width: 250px;
        }

        .pic_container {
          max-width: 300px;
          height: 190px;
          overflow: hidden;

          img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
          }
        }
        .product_content {
          padding: 1.5rem 1rem;

          .product_caption {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h4 {
              font-size: 1.15rem;
              font-weight: bold;
              letter-spacing: 1.3px;
              color: $darkBlue;
            }

            p {
              font-weight: 600;
              font-size: 0.8rem;
              color: $darkBlue;
              letter-spacing: 0.5px;
            }
          }
          .price_range {
            margin: 1.1rem 0;
            font-size: 0.8rem;
            font-weight: bold;
            letter-spacing: 1px;
            color: $darkBlue;
          }
          .product_item_btns {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .get_btn {
              width: 80px;
              height: 27px;
              background-color: $white;
              border: 2px solid $skyBlue;
              border-radius: 0.3rem;
              cursor: pointer;
              transition: all 0.1s ease-in;

              &:hover {
                background: linear-gradient(to right, #eb2f5f, #fd4a77);
                color: $white;
                border: none;
              }
            }

            .price_btn {
              width: 60px;
              height: 25px;
              background-color: $darkBlue;
              color: $white;
              font-size: 0.8rem;
              font-weight: lighter;
              font-style: italic;
              letter-spacing: 2px;
            }
          }
        }
      }
    }
  }
}
