#testimonial {
  padding: 1.5rem 0 0 0;

  .testimonial_container {
    width: 100%;
    padding: 1.5rem 0;

    .testimonial_item {
      width: 100%;
      background-color: $lightBlue;
      text-align: center;
      padding: 1rem 1rem 2rem 1rem;
      border-radius: 0.9rem;

      .testimonial_pic {
        width: 80px;
        height: 80px;

        background-image: url("../images/testimonial/team-2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        border-radius: 50%;
        position: relative;

        &::before {
          position: absolute;
          content: "";
          width: 86px;
          height: 80px;
          background-color: $darkBlue;
          border-radius: 50%;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: -1;
        }

        &::after {
          position: absolute;
          content: '"';
          font-size: 1.3rem;
          font-family: "Courier New", Courier, monospace;
          width: 25px;
          height: 25px;
          color: $white;
          background: linear-gradient(to right, #eb2f5f, #fd4a77);
          border-radius: 50%;
          padding: 1px 2px 1px 1px;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 1;
        }
      }

      h4 {
        color: $darkBlue;
        margin: 0.7rem auto 0rem auto;
        font-size: 1.15rem;
      }
      p {
        font-size: 0.9rem;
        font-weight: 500;
        color: $darkBlue;
      }
      .test_content {
        text-align: center;
        font-size: 1rem;
        margin: 1.5rem auto 1rem auto;
      }
    }
  }
}
