#testimonial {
  padding: 2.5rem 0 1.5rem 0;

  .testimonial_container {
    width: 100%;
    padding: 1.5rem 0;

    .testimonial_item {
      position: relative;
      width: 850px;
      max-width: 100%;

      background-color: $lightBlue;
      text-align: center;
      padding: 1rem 1.6rem 1rem 1.6rem;
      border-radius: 0.9rem;
      margin: auto;

      @media screen and (min-width: 481px) {
        max-width: calc(100% - 3.2rem);
        padding: 1.5rem 0;
      }

      .testimonial_pic {
        width: 80px;
        height: 80px;

        background-image: url("../images/testimonial/team-2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        border-radius: 50%;
        position: relative;

        &::before {
          position: absolute;
          content: "";
          width: 86px;
          height: 80px;
          background-color: $darkBlue;
          border-radius: 50%;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: -1;
        }

        &::after {
          position: absolute;
          content: '"';
          font-size: 1.3rem;
          font-family: "Courier New", Courier, monospace;
          width: 25px;
          height: 25px;
          color: $white;
          background: linear-gradient(to right, #eb2f5f, #fd4a77);
          border-radius: 50%;
          padding: 1px 2px 1px 1px;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 1;
        }
      }

      h4 {
        color: $darkBlue;
        margin: 0.7rem auto 0rem auto;
        font-size: 1.1rem;

        @media (min-width: 801px) {
          font-size: 1.2rem;
        }
      }
      p {
        font-size: 0.9rem;
        font-weight: 500;
        line-height: normal;
        color: $darkBlue;
      }
      .test_content {
        max-width: 640px;
        text-align: center;
        font-size: 0.85rem;
        font-weight: 500;
        line-height: 1.6;
        margin: 1.5rem auto 1rem auto;

        @media (min-width: 801px) {
          font-size: 0.9rem;
        }
      }

      .left_arrow,
      .right_arrow {
        font-size: 1.6rem;
        color: $darkBlue;
      }
      .left_arrow {
        position: absolute;
        top: 40%;
        left: 1rem;
      }
      .right_arrow {
        position: absolute;
        top: 40%;
        right: 1rem;
      }
    }
  }
}
