// Colors
$white: #fff;
$darkBlue: #0e79b2;
$mainRose: #fe517d;
$darkRose: #eb2f5f;
$lightBlue: rgba(14, 121, 178, 0.09);
$hoverDarkRose: hsl(345, 98%, 61%);
$hoverLightRose: #eb2f5f;

$skyBlue: #53a3ce;
