*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  display: block;
  width: 7.1rem;
  height: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  border-radius: 4px;
  padding: 0.35rem 0;
  background: -webkit-gradient(linear, left top, right top, from(#eb2f5f), to(#fe517d));
  background: linear-gradient(to right, #eb2f5f, #fe517d);
  color: #fff;
  text-align: center;
  letter-spacing: 0.5px;
}

.btn:hover {
  background: #eb2f5f;
  background: -webkit-gradient(linear, left top, right top, from(#eb2f5f), to(#eb2f5f));
  background: linear-gradient(to right, #eb2f5f, #eb2f5f);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 1rem 1rem;
  margin: auto;
}

.section_title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.5rem;
  color: #0e79b2;
  letter-spacing: 0.5px;
  line-height: 1.4;
  text-transform: capitalize;
}

@media (max-width: 480px) {
  .section_title {
    font-size: 1.2rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .section_title {
    font-size: 1.6rem;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .section_title {
    font-size: 1.8rem;
  }
}

@media (min-width: 1201px) and (max-width: 1920px) {
  .section_title {
    margin-top: 1rem;
    font-size: 2rem;
  }
}

.title_underline {
  width: 4rem;
  height: 0.3rem;
  background-color: #53a3ce;
  border-radius: 2rem;
  margin: 0.8rem auto;
}

.title_info {
  font-size: 1rem;
  text-align: center;
  color: #0e79b2;
  margin: 1rem auto 1rem auto;
}

@media (min-width: 481px) and (max-width: 768px) {
  .title_info {
    width: 400px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .title_info {
    width: 675px;
  }
}

@media (min-width: 1201px) and (max-width: 1920px) {
  .title_info {
    font-size: 1.1rem;
  }
}

.product_btn {
  width: 47px;
  height: 25px;
  padding: 1px;
  color: #0e79b2;
  font-size: 11px;
  font-weight: bold;
  border: 1.5px solid #0e79b2;
  border-radius: 0.2rem;
}

.header {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  z-index: 10;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9rem 3rem;
  background-color: #fff;
}

@media (max-width: 480px) {
  .header nav {
    padding: 0.9rem 1rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .header nav {
    padding: 0.9rem 2rem;
  }
}

.header_logo img {
  width: 65px;
  height: auto;
}

.header_menu {
  display: none;
}

.header_menu span {
  display: block;
  width: 25px;
  height: 4px;
  background-color: #0e79b2;
  border-radius: 1rem;
}

.header_menu span:not(:last-child) {
  margin-bottom: 4px;
}

.header_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_links li:not(:nth-child(4)) {
  margin-right: 1.6rem;
}

.header_links li a {
  position: relative;
  color: #0e79b2;
  font-size: 0.9;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.header_links li a::after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 4px;
  background-color: #0e79b2;
  border-radius: 1rem;
  bottom: 0;
  top: 1.7rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header_links li a:hover::after {
  opacity: 1;
}

.header_links .header_btn {
  margin-left: 3rem;
}

@media (max-width: 768px) {
  .header {
    position: relative;
  }
  .header_menu {
    display: block;
  }
  .header .menu_open {
    display: block;
    -webkit-animation: coming 0.3s linear 1;
            animation: coming 0.3s linear 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes coming {
    from {
      -webkit-transform: translateY(-2rem);
              transform: translateY(-2rem);
    }
    to {
      -webkit-transform: translateY(0rem);
              transform: translateY(0rem);
    }
  }
  @keyframes coming {
    from {
      -webkit-transform: translateY(-2rem);
              transform: translateY(-2rem);
    }
    to {
      -webkit-transform: translateY(0rem);
              transform: translateY(0rem);
    }
  }
  .header_mobile_menu {
    display: none;
    position: absolute;
    top: 5rem;
    left: 2rem;
    right: 2rem;
    background-color: #fff;
    border-radius: 0.8rem;
    padding: 3rem 0 2rem 0;
    text-align: center;
    -webkit-box-shadow: 5px 4px 10px rgba(121, 121, 121, 0.3);
            box-shadow: 5px 4px 10px rgba(121, 121, 121, 0.3);
  }
  .header_mobile_menu li:not(:last-child) {
    margin-bottom: 1.4rem;
  }
  .header_mobile_menu li a {
    position: relative;
    color: #0e79b2;
    font-weight: 500;
  }
  .header_mobile_menu li a::after {
    position: absolute;
    display: block;
    content: "";
    width: 20px;
    height: 4px;
    top: 1.7rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #0e79b2;
    border-radius: 5px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .header_mobile_menu li a:hover::after {
    opacity: 1;
  }
  .header_links {
    display: none;
  }
  .header_links li a {
    background-color: pink;
  }
}

@media (min-width: 769px) {
  .header_mobile_menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100vh);
    opacity: 0.5;
    background-color: #000;
    z-index: 5;
    overflow: hidden;
    -webkit-animation: fade 0.3s linear 1;
            animation: fade 0.3s linear 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.5;
    }
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.5;
    }
  }
  .overlay_open {
    display: block;
  }
}

#hero {
  width: 100%;
  height: calc(100vh - 67.28px);
  background: url(../images/hero_bg.jpg);
  background-repeat: no-repeat;
  background-position: 85%;
  background-size: cover;
}

.hero_container {
  width: 100%;
  max-width: 1980px;
  margin: auto;
  padding: 0 3rem;
  height: calc(100vh - 67.28px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .hero_container {
    padding: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .hero_container {
    padding: 2rem;
  }
}

.hero_container .hero_content {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .hero_container .hero_content {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero_container .hero_content h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: bolder;
  color: #0e79b2;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}

@media (max-width: 480px) {
  .hero_container .hero_content h1 {
    font-size: 2.2rem;
    text-align: center;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .hero_container .hero_content h1 {
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 2px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero_container .hero_content h1 {
    font-size: 2.6rem;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .hero_container .hero_content h1 {
    font-size: 3.2rem;
  }
}

.hero_container .hero_content p {
  width: 85%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
  color: #0e79b2;
}

@media (max-width: 480px) {
  .hero_container .hero_content p {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .hero_container .hero_content p {
    width: 80%;
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero_container .hero_content p {
    width: 75%;
  }
}

.hero_container .hero_content .start_btn {
  display: block;
  margin-top: 2.5rem;
  height: 2.2rem;
  padding: 0.55rem 0;
}

#about {
  width: 100%;
  height: auto;
  background-color: #fff;
}

.about_container {
  padding: 2rem 1rem;
}

.about_container .about_content {
  width: 100%;
  height: auto;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 481px) and (max-width: 768px) {
  .about_container .about_content {
    gap: 1.6rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .about_container .about_content {
    gap: 2rem;
  }
}

@media (min-width: 1025px) {
  .about_container .about_content {
    gap: 2.3rem;
  }
}

.about_container .about_content .about_item {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  border: none;
  border-radius: 1.3rem;
  background-color: #0e79b2;
  -ms-flex-preferred-size: 260px;
      flex-basis: 260px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.about_container .about_content .about_item .about_icon i {
  color: #fff;
  font-size: 2.1rem;
  margin: 0.5rem auto;
}

.about_container .about_content .about_item h3 {
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.1rem;
  margin-bottom: 1.8rem;
  line-height: 1.3;
}

@media (max-width: 480px) {
  .about_container .about_content .about_item h3 {
    font-size: 1.1rem;
  }
}

.about_container .about_content .about_item p {
  font-size: 0.9rem;
  color: #fff;
  letter-spacing: 0.1rem;
}

@media (max-width: 480px) {
  .about_container .about_content .about_item p {
    font-size: 0.8rem;
  }
}

#category {
  padding: 2rem 0;
  background-color: rgba(14, 121, 178, 0.09);
}

@media (min-width: 481px) and (max-width: 768px) {
  #category .category_container {
    padding: 1rem 2rem;
  }
}

@media (min-width: 769px) {
  #category .category_container {
    padding: 1rem 3rem;
  }
}

#category .category_container .category_box {
  margin: 3rem auto;
}

@media (min-width: 769px) {
  #category .category_container .category_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#category .category_container .category_box .picture_box {
  width: 100%;
  height: 200px;
  background-image: url(../images/truck.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

@media (min-width: 481px) and (max-width: 768px) {
  #category .category_container .category_box .picture_box {
    height: 320px;
  }
}

@media (min-width: 769px) {
  #category .category_container .category_box .picture_box {
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
    height: 260px;
  }
}

@media (min-width: 1200px) {
  #category .category_container .category_box .picture_box {
    height: 320px;
  }
}

#category .category_container .category_box .info_btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 481px) {
  #category .category_container .category_box .info_btn_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#category .category_container .category_box .info_btn_container .info_btn {
  width: 100%;
  padding: 0.7rem;
  border: none;
  background-color: #0e79b2;
  color: #fff;
}

#category .category_container .category_box .info_btn_container .info_btn:hover {
  background-color: #fd3a6b;
}

#category .category_container .category_box .info_btn_container .info_btn:not(:last-child) {
  border-bottom: 1px solid #53a3ce;
}

@media (min-width: 481px) {
  #category .category_container .category_box .info_btn_container .info_btn:not(:last-child) {
    border-right: 1px solid skyblue;
  }
}

@media (min-width: 769px) {
  #category .category_container .category_box .info_btn_container .info_btn:last-child {
    border-top-right-radius: 1rem;
  }
}

#category .category_container .category_box .info_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1rem;
  background-color: #fff;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

@media (min-width: 481px) and (max-width: 768px) {
  #category .category_container .category_box .info_content {
    padding: 2.5rem 2rem;
  }
}

@media (min-width: 769px) {
  #category .category_container .category_box .info_content {
    height: 222px;
    border-bottom-left-radius: 0;
  }
}

@media (min-width: 1200px) {
  #category .category_container .category_box .info_content {
    height: 282px;
  }
}

#category .category_container .category_box .info_content p {
  font-size: 0.83rem;
  text-align: center;
  color: #0e79b2;
  font-weight: 600;
  line-height: 1.8;
}

@media (min-width: 481px) and (max-width: 768px) {
  #category .category_container .category_box .info_content p {
    font-size: 0.84rem;
  }
}

#question .quest_container {
  margin: auto;
  padding: 1.5rem 0;
}

@media (min-width: 481px) and (max-width: 768px) {
  #question .quest_container {
    padding: 1rem 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #question .quest_container {
    padding: 1.5rem 3rem;
  }
}

#question .quest_container .quest_item {
  margin-bottom: 1.5rem;
}

#question .quest_container .quest_item .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0e79b2;
  color: #fff;
  padding: 0.5rem 0.6rem;
  border-radius: 0.3rem;
}

@media (min-width: 769px) {
  #question .quest_container .quest_item .question {
    width: 640px;
    margin: auto;
  }
}

#question .quest_container .quest_item .question h2 {
  font-size: 0.9rem;
  letter-spacing: 0px;
  font-weight: lighter;
}

@media (max-width: 480px) {
  #question .quest_container .quest_item .question h2 {
    font-size: 0.75rem;
  }
}

@media (min-width: 769px) {
  #question .quest_container .quest_item .question h2 {
    font-size: 1rem;
  }
}

#question .quest_container .quest_item .question i {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

@media (min-width: 769px) {
  #question .quest_container .quest_item .question i {
    font-size: 1.4rem;
  }
}

#question .quest_container .quest_item .quest_content {
  padding: 1rem 1rem;
  background-color: rgba(14, 121, 178, 0.09);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

@media (min-width: 481px) and (max-width: 768px) {
  #question .quest_container .quest_item .quest_content {
    padding: 1.5rem 1.5rem;
  }
}

@media (min-width: 769px) {
  #question .quest_container .quest_item .quest_content {
    width: 640px;
    margin: auto;
    padding: 2rem;
  }
}

#question .quest_container .quest_item .quest_content .quest_underline {
  width: 100%;
  height: 1px;
  background-color: #0e79b2;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

#question .quest_container .quest_item .quest_content p {
  font-size: 0.8rem;
  line-height: 1.4;
  text-align: center;
  color: #0e79b2;
  font-weight: 500;
}

@media (min-width: 769px) {
  #question .quest_container .quest_item .quest_content p {
    font-size: 0.9rem;
    line-height: 1.5;
  }
}

#products {
  padding: 1.5rem 0 0 0;
  background-color: rgba(14, 121, 178, 0.09);
}

#products .product_container {
  width: 100%;
  padding: 1.5rem 0;
}

#products .product_container .product_btn_container {
  margin: auto;
}

#products .product_container .product_btn_container .product_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

#products .product_container .product_btn_container .product_btns .product_btn {
  background-color: transparent;
}

@media (min-width: 481px) and (max-width: 768px) {
  #products .product_container .product_btn_container .product_btns .product_btn {
    width: 60px;
    font-size: 12px;
  }
}

@media (min-width: 769px) {
  #products .product_container .product_btn_container .product_btns .product_btn {
    width: 70px;
    height: 27px;
    font-size: 13px;
  }
}

#products .product_container .product_btn_container .product_btns .product_btn:hover {
  background-color: #0e79b2;
  color: #fff;
}

#products .product_container .product_item_container {
  gap: 1.5rem;
  margin: 3rem auto;
  display: -ms-grid;
  display: grid;
}

@media (min-width: 769px) and (max-width: 1024px) {
  #products .product_container .product_item_container {
    -ms-grid-columns: (2fr)[2];
        grid-template-columns: repeat(2, 2fr);
  }
}

@media (min-width: 1025px) {
  #products .product_container .product_item_container {
    -ms-grid-columns: (2fr)[3];
        grid-template-columns: repeat(3, 2fr);
  }
}

@media (min-width: 1201px) {
  #products .product_container .product_item_container {
    gap: 2rem;
  }
}

#products .product_container .product_item_container .product_box {
  width: 280px;
  height: auto;
  background-color: #fff;
  border-top-left-radius: 0.9rem;
  border-top-right-radius: 0.9rem;
  border-bottom-left-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem;
  overflow: hidden;
  margin: auto;
}

@media (max-width: 480px) {
  #products .product_container .product_item_container .product_box {
    max-width: 250px;
  }
}

#products .product_container .product_item_container .product_box .pic_container {
  max-width: 300px;
  height: 190px;
  overflow: hidden;
}

#products .product_container .product_item_container .product_box .pic_container img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

#products .product_container .product_item_container .product_box .product_content {
  padding: 1.5rem 1rem;
}

#products .product_container .product_item_container .product_box .product_content .product_caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#products .product_container .product_item_container .product_box .product_content .product_caption h4 {
  font-size: 1.15rem;
  font-weight: bold;
  letter-spacing: 1.3px;
  color: #0e79b2;
}

#products .product_container .product_item_container .product_box .product_content .product_caption p {
  font-weight: 600;
  font-size: 0.8rem;
  color: #0e79b2;
  letter-spacing: 0.5px;
}

#products .product_container .product_item_container .product_box .product_content .price_range {
  margin: 1.1rem 0;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #0e79b2;
}

#products .product_container .product_item_container .product_box .product_content .product_item_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#products .product_container .product_item_container .product_box .product_content .product_item_btns .get_btn {
  width: 80px;
  height: 27px;
  background-color: #fff;
  border: 2px solid #53a3ce;
  border-radius: 0.3rem;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

#products .product_container .product_item_container .product_box .product_content .product_item_btns .get_btn:hover {
  background: -webkit-gradient(linear, left top, right top, from(#eb2f5f), to(#fd4a77));
  background: linear-gradient(to right, #eb2f5f, #fd4a77);
  color: #fff;
  border: none;
}

#products .product_container .product_item_container .product_box .product_content .product_item_btns .price_btn {
  width: 60px;
  height: 25px;
  background-color: #0e79b2;
  color: #fff;
  font-size: 0.8rem;
  font-weight: lighter;
  font-style: italic;
  letter-spacing: 2px;
}

#testimonial {
  padding: 1.5rem 0 0 0;
}

#testimonial .testimonial_container {
  width: 100%;
  padding: 1.5rem 0;
}

#testimonial .testimonial_container .testimonial_item {
  width: 100%;
  background-color: rgba(14, 121, 178, 0.09);
  text-align: center;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 0.9rem;
}

#testimonial .testimonial_container .testimonial_item .testimonial_pic {
  width: 80px;
  height: 80px;
  background-image: url("../images/testimonial/team-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  border-radius: 50%;
  position: relative;
}

#testimonial .testimonial_container .testimonial_item .testimonial_pic::before {
  position: absolute;
  content: "";
  width: 86px;
  height: 80px;
  background-color: #0e79b2;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#testimonial .testimonial_container .testimonial_item .testimonial_pic::after {
  position: absolute;
  content: '"';
  font-size: 1.3rem;
  font-family: "Courier New", Courier, monospace;
  width: 25px;
  height: 25px;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#eb2f5f), to(#fd4a77));
  background: linear-gradient(to right, #eb2f5f, #fd4a77);
  border-radius: 50%;
  padding: 1px 2px 1px 1px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#testimonial .testimonial_container .testimonial_item h4 {
  color: #0e79b2;
  margin: 0.7rem auto 0rem auto;
  font-size: 1.15rem;
}

#testimonial .testimonial_container .testimonial_item p {
  font-size: 0.9rem;
  font-weight: 500;
  color: #0e79b2;
}

#testimonial .testimonial_container .testimonial_item .test_content {
  text-align: center;
  font-size: 1rem;
  margin: 1.5rem auto 1rem auto;
}
/*# sourceMappingURL=style.css.map */